@media only screen and (max-width: 1025px) {
    #loader img{
        width: 100%;
    }
    .scroller{
        padding-left: 3vw;
        scroll-padding-inline: 3vw;
        gap: 15px;
        height: 70vh;
        overflow: hidden;
    }
    .card{
        flex: 0 0 32vw;
        height: 25vh;
    }
    .menu i{
        font: 14px;
    }
    .logo img{
        height: 100px;
    }
}
@media only screen and (max-width: 768px) {
    #loader img{
        width: 100%;
    }
    .scroller{
        padding-left: 4vw;
        scroll-padding-inline: 5.2vw;
        gap: 15px;
        height: 70vh;
        overflow: hidden;
    }
    .card{
        flex: 0 0 32vw;
        height: 25vh;
    }
    .menu i{
        font: 14px;
    }
    .logo img{
        height: 100px;
    }
    .search-bar{
        left: 55%;
    }
    #image1 {
        height: 250%;
    }
    
    #image2 {
        height: 200%;
    }
    
    #image3 {
        height: 250%;
    }
    
    #image4 {
        height: 280%;
    }
    
    #image5 {
        left: 40%;
        height: 250%;
    }
    
    #image6 {
        top: -10%;
        height: 170%;
    }
    #image7 {
        top: -60%;
        height: 300%;
    }
    #image8 {
        top: -30%;
        height: 230%;
    }
}


@media only screen and (max-width: 426px) {
    #loader img{
        width: 100%;
    }

    .menu h3{
        display: none;
    }
    .scroller{
        scroll-padding-inline: 14vw;
        padding-left: 14vw;
        gap: 15px;
        height: 70vh;
        overflow: hidden;
    }
    .card{
        flex: 0 0 65vw;
        height: 35vh;
    }
    .search-bar{
       display: none;
    }
    .menu i{
        font: 14px;
    }
    .logo img{
        height: 100px;
    }
    .details{
        margin-left: 5vw;
    }
    #image1 {
        height: 250%;
    }
    
    #image2 {
        top: -20%;
        height: 250%;
    }
    
    #image3 {
        top: -20%;
        left: 55%;
        height: 200%;
    }
    
    #image4 {
        top: -20%;
        left: 45%;
        height: 220%;
    }
    
    #image5 {
        left: 45%;
        top: -20%;
        height: 200%;
    }
    
    #image6 {
        top: 30%;
        height: 105%;
    }
    #image7 {
        top: 0;
        height: 200%;
    }
    #image8 {
        top: 0;
        left: 45%;
        height: 160%;
    }
}

