* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

#loader {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition: opacity 0.5s ease;
    z-index: 999;
    background-color: #fbfbfb;
}

#loader img {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.main {
    overflow-x: hidden;
}

nav {
    position: relative;
    padding: 1vw 3vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
h3 {
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 120px;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 50px;
    width: 250px;
    background: #f3f3f8;
}

.search-bar input {
    outline: none;
    border: none;
    height: max-content;
    width: max-content;
    background-color: transparent;
}

.search-bar input::placeholder {
    font-size: 15px;
}

.search-bar i {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 20px;
    color: #a09fa4;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu i {
    font-size: 16px;
}

/* scroller */

.scroller {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 5.2vw;
    padding-left: 5.2vw;
    flex-wrap: nowrap;
    height: 70vh;
    width: auto;
    max-width: none;
}

.scroller>* {
    scroll-snap-align: start;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.card {
    padding: 2vw;
    flex: 0 0 19vw;
    position: relative;
    margin-bottom: 2vw;
    margin-right: 5.2vw;
    border-radius: 30px;
}

.card-number1 {
    height: 16vw;
    width: 18vw;
    background: rgb(187, 23, 40);
    background: linear-gradient(45deg,
            rgba(187, 23, 40, 1) 18%,
            rgba(227, 92, 98, 1) 68%);
}

.card-number2 {
    height: 13vw;
    width: 18vw;
    background: rgb(26, 53, 110);
    background: linear-gradient(45deg,
            rgba(26, 53, 110, 1) 18%,
            rgba(28, 127, 189, 1) 68%);
}

.card-number3 {
    height: 15vw;
    width: 18vw;
    background: rgb(55, 99, 66);
    background: linear-gradient(45deg,
            rgba(55, 99, 66, 1) 18%,
            rgba(112, 164, 91, 1) 68%);
}

.card-number4 {
    height: 16vw;
    width: 18vw;
    background: rgb(32, 54, 85);
    background: linear-gradient(45deg,
            rgba(32, 54, 85, 1) 18%,
            rgba(96, 145, 204, 1) 68%);
}

.card-number5 {
    height: 16vw;
    width: 18vw;
    background: rgb(142, 75, 118);
    background: linear-gradient(45deg,
            rgba(142, 75, 118, 1) 18%,
            rgba(222, 155, 194, 1) 68%);
}

.card-number6 {
    height: 14vw;
    width: 18vw;
    background: rgb(223, 46, 38);
    background: linear-gradient(45deg, rgba(223, 46, 38, 1) 18%, rgba(233, 100, 91, 1) 68%);
}
.card-number7 {
    height: 14vw;
    width: 18vw;
    background: rgb(246,195,67);
    background: linear-gradient(45deg, rgba(246,195,67,1) 18%, rgba(254,232,145,1) 68%);
}
.card-number8 {
    height: 14vw;
    width: 18vw;
    background: rgb(122,64,38);
background: linear-gradient(45deg, rgba(122,64,38,1) 18%, rgba(245,163,113,1) 68%);
}

.image {
    position: relative;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    height: 60%;
}

.image.active {
    transform: scale(1.15);
}

.image img {
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#image1 {
    height: 250%;
}

#image2 {
    height: 300%;
}

#image3 {
    height: 250%;
}

#image4 {
    height: 280%;
}

#image5 {
    left: 40%;
    height: 250%;
}

#image6 {
    top: -10%;
    height: 170%;
}
#image7 {
    top: -60%;
    height: 300%;
}
#image8 {
    top: -30%;
    height: 230%;
}

.details {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.name h1 {
    color: rgba(255, 255, 255, 0.734);
}

.movie {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.movie :nth-child(1) {
    color: rgb(240, 236, 236);
}

.movie :nth-child(2) {
    color: white;
}

/* scroller navigation section */

.scroller-nav {
    padding: 1vw 3vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-links h4 {
    font-weight: 500;
    color: #a09fa4;
}

.prev-next-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}